html{
	background-color: rgb(204, 204, 255);
}
h1 {
	text-align: center;
	font-family: Tahoma, sans-serif;
}

body {
  margin:0;
}


#container{
   text-align: center;
   margin: 80px;
   /*border: 2px solid re;*/
   padding:20px;
   background-color: ghostwhite;

   width:1060px;
   margin:0 auto;
}

 
 ul.nav li{   
      margin: 30px;
   	display: inline; 

   }

.header{
margin:20px;
padding: 5px;
width:300px;
height:450px;
float:left;

}


ul.footer li{
margin:30px;
display: inline;
}


.nav {
	width: 550px;
    height: 35px;
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-align: right;
    border-radius: 8px;
    padding-left: 210px;
}

.nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.nav li { 
display: inline; 
padding: 20px; 
}

#cause1 img{
	height: 250px;
	width: 250px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}


#cause2 img{
	height: 250px;
	width: 250px;
	float: right;
	padding-left: 10px;
	padding-left: 10px;
}

#cause3 img{
	height: 250px;
	width: 250px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

.donate{
padding:50px 25px; 
background:#35b128; 
border:1px solid #33842a; 
text-align: center;
color:#f3f3f3;
font-size:20pt;
}

.donate-btn{
	padding: 8px 12px;
	font-size: 18px;
	width: 200px;
	text-align: center;
	font-weight: 40
}

.footer {
  clear:both;
	width: 550px;
    height: 35px;
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-align: right;
    border-radius: 8px;
    padding-left: 210px;
}

.footer ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.footer li { 
  display: inline; 
  padding: 20px; 
}